<a href="https://colab.research.google.com/github/Tiamiyu1/Python-for-Data-Science-and-Analytics/blob/main/Assignment/Task_1_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

### Reg_no: DS000

- write a program that prints Hello World!
- Assign 6 to a variable named a, check the data type 
- Assign 10 to variable b
- Add a and b
- what is a raised to power of b
- Convert a to string 
- What is 78 // 9
- What is the remainder in this expression 78%2
- Assign the word Red to a varaible named color (Remember this string data type), confirm the data type
- Change variable a to float and name it aa, confrim the data type
- Write a python single line comment
- Assign Nigeria to a variable country
- Print out the first, third and the last letter of the variable named country (separately)
- Slice country by showing just the 3rd to the last letter
- Change country to upper, lower and title case
- Show how many 'a' we have in Nigeria
- Assign three variables to three different values on a single line
- Write a multi line comment in python
- Write a multi line string in  python
- Convert 'bag' to integer

# Solution

In [ ]:
# 1. write a program that prints Hello World!
print("Hello World!")

Hello World!

In [ ]:
# 2. Assign 6 to a variable named a, check the data type
a = 6
type(a)

int

In [ ]:
# 3. Assign 10 to variable b
b =10
b

10

In [ ]:
# 4. Add a and b
a + b

16

In [ ]:
# 5. what is a raised to power of b
a**b

60466176

In [ ]:
# 6. Convert a to string
str(a)

'6'

In [ ]:
# 7. What is 78 // 9
78//9

8

In [ ]:
# 8. What is the remainder in this expression 78%2
78%2

0

In [ ]:
# 9. Assign the word Red to a varaible named color (Remember this string data type), confirm the data type
color = 'Red'
type(color)

str

In [ ]:
# 10. Change variable a to float and name it aa, confrim the data type
aa = float(a)
type(aa)

float

In [ ]:
# 11. Write a python single line comment
# This is a single line comment in python. It starts with (#)

In [ ]:
# 12. Assign Nigeria to a variable country
country = 'Nigeria'

In [ ]:
# 13. Print out the first, third and the last letter of the variable named country (separately)
print(country[0]) # you can use [-7] too
print(country[2])  # you can use [-5] as well
print(country[-1])  # you can also us [7] instead of [-1]
# You can as well print them separately on different cell.

N
g
a

In [ ]:
# 14. Slice country by showing just the 3rd to the last letter
country[2:] # or country[-5:]

'geria'

In [ ]:
# 15. Change country to upper, lower and title case
country.upper(), country.lower(), country.title() # you can do this on separate line as well

('NIGERIA', 'nigeria', 'Nigeria')

In [ ]:
# 16. Show how many 'a' we have in Nigeria
country.count('a')

1

In [ ]:
# we have just one a, let's check for i
country.count('i') # this is not part of the exercise though

2

In [ ]:
# 17. Assign three variables to three different values on a single line
a, b, c = 12, True, 'Bag'
a, b, c

(12, True, 'Bag')

In [ ]:
# 18. Write a multi line comment in python
"""
This is a multi line comment,
because it is on more than
one line.
"""

'\nThis is a multi line comment,\nbecause it is on more than\none line\n'

In [ ]:
# 19. Write a multi line string in python
my_string = """
This is a multi line string,
because it is on more than
one line.
"""
print(my_string)

This is a multi line string,
because it is on more than
one line.

In [ ]:
# 20. Convert 'bag' to integer
int('bag') # This is not possible, it raises a value error

ValueError: ignored

1