### Data type

Power (^2)

Variable casting

Order of execution

Boolean

In [1]:
7**2

49

In [2]:
2**2

4

In [3]:
True 
False

False

In [4]:
5<3 and 5>6

False

### Casting
converting one variable to the other

In [6]:
num = 87

In [7]:
type(num)

int

In [8]:
num2 = float(num)
type(num2)

float

In [9]:
num2

87.0

In [10]:
a = 78.4
type(a)

float

In [12]:
b =int(a)

In [13]:
type(b)

int

In [14]:
c  = '45'
type(c)

str

In [15]:
d = int(c)
type(d)

int

In [16]:
e = 56.8
type(e)

float

In [17]:
f = str(e)
type(f)

str

In [19]:
f

'56.8'

In [20]:
name = 'John'
type(name)

str

In [22]:
name2 = int(name)

ValueError: invalid literal for int() with base 10: 'John'

In [26]:
a = 10
a = 'bag'
a

'bag'

## String

multi-line str, slicing and indexing (-), modify(uppper, swapcase, title, low, strip, split, replace, Concatenation, Escape \",  \n, \t,  \',  \\,  formating, 

method - count, find, index, isdigit, strip, split,

In [27]:
school = 'unilag'

In [28]:
b= """This is a python class, 
for data science 
and analytics."""

In [29]:
print(b)

This is a python class,
for data science
and analytics.

In [31]:
greet = 'Hello'

In [32]:
len(greet)

5

In [34]:
# Indexing

greet[0]

'H'

In [35]:
greet[3]

'l'

In [36]:
greet[4]

'o'

In [37]:
greet[-1]

'o'

In [39]:
greet

'Hello'

In [42]:
greet[-5]

'H'

In [43]:
#slicing

In [45]:
greet[1:5]

'ello'

In [47]:
greet[2:4]

'll'

In [49]:
greet[-3:-1]

'll'

In [50]:
for letter in greet:
    print(letter)

H
e
l
l
o

### String Methods

In [54]:
greet.index('H')

0

In [55]:
greet.count('H')

1

In [56]:
greet.count('l')

2

In [57]:
greet.upper()

'HELLO'

In [58]:
greet.lower()

'hello'

In [59]:
greet.title()

'Hello'

In [60]:
greet.swapcase()

'hELLO'

In [61]:
greet.replace('H', 'M')

'Mello'

In [63]:
print(b)

This is a python class,
for data science
and analytics.

In [64]:
b.split()

['This',
 'is',
 'a',
 'python',
 'class,',
 'for',
 'data',
 'science',
 'and',
 'analytics.']

In [65]:
'table' + 'water'

'tablewater'

In [67]:
'table' + ' ' + 'water'

'table water'

In [69]:
'Bag'

'Bag'

In [71]:
y = "It's a cat"

In [72]:
y

"It's a cat"

In [86]:
j = "This bag is mine \"(for me)\""
type(j)

str

#### for loop and while loop iteration

 for loop is used for iterating over a sequence (iterable)

break, continue, pass, range,

With the while loop we can execute a set of statements as long as a condition is true.

In [87]:
greet

'Hello'

In [119]:
3>5 and 5==5

False

In [120]:
False and False

False

In [89]:
for letter in greet:
    print(letter)

H
e
l
l
o

In [90]:
# range(start, stop , step)

In [99]:
for i in range(3, 100, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [107]:
for i in range(3, 100, 3):
    if i ==45:
        break
        print(i)

#### if statement

identation

In [108]:
password = 'pass'
if password =='pass':
    print('Access granted')

Access granted

In [117]:
password  = input("Please enter the password: ")
# password = 'pass' 
if password == 'pass':
    print("Access Granted!")
elif password == 'passpass':
    print("Access Granted!")      
else:
    print("Access Denied, please try again")

Please enter the password: poifowuHDVwiuoch
Access Denied, please try again

### Python list

Lists are used to store multiple items in a single variable.

append, count, copy, clear, extend, remove, pop, reverse, sort, index,

#### Tuple

A tuple is a collection which is ordered and unchangeable

It allows duplicates

In [ ]:
# convert to list/set (casting)

In [ ]:
# remove, delete, loop