## Writing my first program

In [47]:
# This program prints Hello world
print("Hello world!")

Hello world!

In [48]:
score = 56.9

In [52]:
my_bag= 'Green'

In [4]:
Score = 34

In [5]:
score =56

## Data type in Python

int

float

string

boolean

In [56]:
no_of_bags = '22.9'

In [57]:
type(no_of_bags)

str

In [6]:
my_number = 23

In [7]:
type(my_number)

int

In [8]:
my_no2 = 34.0

In [9]:
type(my_no2)

float

In [10]:
color = "Red"

In [11]:
type(color)

str

In [12]:
letter = 'a'

In [13]:
type(letter)

str

In [14]:
school = "My school is OAU"

In [15]:
type(school)

str

boolean

In [16]:
my_condition = 4>6

In [17]:
my_condition

False

In [18]:
type(my_condition)

bool

## Operators in Python

+, -, /, *, %, //

In [20]:
2+3

5

In [21]:
8-3

5

In [22]:
6*4

24

In [23]:
90/4

22.5

In [24]:
7%3

1

In [25]:
12%5

2

In [26]:
10//3

3

In [28]:
78//2

39

### Multiple assignment

In [29]:
score, my_class, color = 78, 'SS 3', 'Green'

In [30]:
my_class

'SS 3'

In [31]:
color

'Green'

In [32]:
score

78

In [33]:
score, color, my_class

(78, 'Green', 'SS 3')

### String

In [38]:
'school' +' ' + 'bag'

'school bag'

In [44]:
# # This is will not be printed

print("This line will be printed")

This line will be printed

In [45]:
""""
This is a function 
that returns the sum 
of two number 
"""

def add_up(a, b):
    return a+b

In [46]:
add_up(90, 20)

110

In [61]:
print('bag'*100)

bagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbagbag

### Bolean

In [63]:
67>=9

True

In [65]:
78 == 45

False

In [66]:
'You' == 'you'

False

In [67]:
'You' == 'You'

True

In [69]:
(89 > 90) or( 78<5)

False

In [72]:
(90 > 4) and ( 78>5)

True